<app-header></app-header>
<div class="container">
  <div class="content">
    <mat-card>
      <mat-card-title class="login-title">Login</mat-card-title>
      <mat-card-content>
        <div  class="login-form-field">
          <mat-form-field>
            <input #username matInput placeholder="Username" label="username"/>
          </mat-form-field>
        </div>
        <div class="login-form-field">
          <mat-form-field>
            <input #password matInput placeholder="Password" type="password" label="password"/>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-button class="submit-button">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
